@keyframes myAnimation{
    0% {
       transform: scale(1); 
    }

    50%{
        transition: all ease-in-out;
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);
    }
}

h1{
    text-align: center;
    animation: myAnimation 2s  infinite;
}

@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.loader{
    animation: rotation 1s ease infinite;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid;
    border-color:#000 transparent ;
}

@keyframes pulse{
        0% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(255, 99, 71, 0.7);
        } 
    
        70% {
            transform: scale(1);
            box-shadow: 0 0 0 10px rgba(255, 99, 71, 0);
        }
    
        100%{
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(255, 99, 71, 0);
        }
 
}

button{

    width: 150px;
    height: 50px;
    font-size:larger;
    cursor:grab;
    animation: pulse 2s infinite;
}

@keyframes bg{
    0%, 100%{
        filter: invert(0%);
        background-position:0% 50% ;
    }
    50%{
        filter: invert(100%);
        background-position:50% 100% ;
    }
}

body{
    
    background:url(https://th.bing.com/th/id/OIP.rM8t0CGxBDN6eaJGgJyJwAHaEc?rs=1&pid=ImgDetMain) ;
    
    background-size:300%;
    animation: bg 5ms infinite;
}

@keyframes ahw{
    0%, 75%, 100%{
        
      opacity: 0 ;
      transform: translateY(100%) ;
    }

    12.5%, 62.5%{
        opacity:1;
        transform: translateY(0);
       
    }
}


.notf{
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: aquamarine;
    padding: 16px;
    border-radius: 10px;
    transform: translateY(100%);
    opacity: 0;
    color: white;
    animation: ahw 8s linear infinite;
}
@keyframes er{
    0%, 100%{
        filter: contrast(0%);
        
        color: #ff0000;
    }

    50%{
        
        filter: contrast(3000000%);
        color: #48ff00;
    }
}
.rgb{
    background-color: red;
    color: white;
    animation: er 2s infinite;
}
